<hr>
<footer class="mt-3 pt-3 sticky-bottom">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item mx-3"><a class="navigate" href="/#contact">Get Help</a></li>
        </ul>
        <i class="fas fa-copyright mx-2 d-inline">   Red Team</i>
</footer>