{{> managermenu}}
<div class="container bg-info">
    <h3 class="mt-5 text-center mb-5">Delete Employee</h3>  
</div>
<div class="container">

      
     <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select_value">
            <option selected>Select Employee...</option>
             {{#each employeesForUserID}}
                <option value={{this.id}}>{{this.firstName}}</option>
            {{/each}}
    </select>   
</div>

   <div class="container" style="margin: 0 auto;">
        <form class="row" action="/employee/deleteAction" method="post" id="employeeDeleteForm">
            <div class="mb-3 row align-items-center justify-content-around">
                    <button type="submit" class="btn btn-info mb-3 w-50">Delete Employee</button>
            </div>
        </form>
    </div>
</div>
<script src="/deleteemployee.js"></script>


    
    