{{> employeemenu}}
<div class="container">
    <h3 class="mt-5 text-center mb-5">Move Existing Employee to Different Worksite Location</h3>  
</div>
<div class="container">
    
    <br>
    <br>
     <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select_box_value">
            <option selected>Select Box...</option>
             {{#each boxesForWarehouseID}}
                <option value={{this.warehouseID}}>{{this.id}}</option>
            {{/each}}
    </select>   
    <br><br>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select_palette_value">
            <option selected>Select Palette...</option>
             {{#each palettesForWarehouseID}}
                <option value={{this.warehouseID}}>{{this.boxcount}} </option>
            {{/each}}
    </select>   
</div>

   <div class="container" style="margin: 0 auto;">
        <form class="row" action="/employee/linkAction" method="post" id="boxMoveForm">
            <div class="mb-3 row align-items-center justify-content-around">
                    <button type="submit" class="btn btn-info mb-3 w-50">Move Box</button>
            </div>
        </form>
    </div>
</div>
<script src="/movebox.js"></script>
